<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>
<p>
  <strong>Category:</strong>
  <%= @post.category.name %>
</p>
<p>
  <strong>View Count:</strong>
  <%= @post.views_count %>
</p>
<p>
  <strong>Like Count:</strong>
  <%= link_to @post.likes_count, like_users_post_path(@post) %>
</p>
<p>
  <strong>Author:</strong>
  <% if @post.user_id == current_user.id %>
    You
  <% else %>
    <%= @post.user.email %>
  <% end %>
</p>
<%= link_to (@vote ? 'like' : 'unlike'), like_post_path(@post), method: :post %>
<% if policy(@post).update? %>
  <%= link_to 'Edit post', edit_post_path(@post) %>
<% end %>

