<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>
<p>
  <strong>Category:</strong>
  <%= @post.category.name %>
</p>
<p>
  <strong>View Count:</strong>
  <%= @post.views_count %>
</p>
<p>
  <strong>Like Count:</strong>
  <%= @post.likes_count %>
</p>
<%= link_to (@vote ? 'like' : 'unlike'), like_post_path(@post), method: :post %>
