<!DOCTYPE html>
<html>
  <head>
    <title>CategoryPost</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <ul>
          <% if current_user %>
            <li>Posts</li>
            <li>Categories</li>
            <li>Hello, <%= current_user.email %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Log in", new_session_path(resource_name) %></li>
            <li><%= link_to "Sign up", new_registration_path(resource_name) %></li>
          <% end %>
        </ul>
      </header>
      <main>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
